* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
}

.action-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 50px;
}

.button {
  margin-left: 15px;
  border-radius: 10px;
  background-color: tomato;
  color: white;
  height: 30px;
  width: 100px;
}

.button-primary {
  background-color: teal;
}